:root {
  --green: #115d58;
  --orange: #fba637f6;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
#consultBody {
  padding: 5em;
}
#consultUsForm {
  background-color: rgba(0, 0, 0, 0.082);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  width: 30%;
  padding: 5em;
  margin: auto;
  display: flex;
  flex-direction: column;
  transition: 0.3s ease-in-out;
}
#consultUsForm:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#consultUsForm p {
  text-align: center;
  font-size: 3em;
  margin-top: 0;
}
#consultUsForm input,
#consultUsForm textarea {
  border: none;
  color: #00000095;
  padding: 10px 1em;
  margin: 1.5em;
  color: rgba(0, 0, 0, 0.734);
}
#consultUsForm input:focus,
#consultUsForm textarea:focus {
  outline: none;
}
#consultUsSubmitButton {
  width: 40%;
  margin: auto;
  margin-top: 2em;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  background-color: var(--green);
  border: 0.5px solid var(--green);
  transition: 0.3s ease-in-out;
}
#consultUsSubmitButton:hover {
  cursor: pointer;
  color: var(--green);
  background-color: white;
  border: 0.5px solid var(--green);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
